body{
    background-image: url(hq5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
h1{
    font-family: Garamond, serif;
    color: red;
    text-align: center;
    font-size: 40px;
}
h2{
    font-family: Garamond, serif;
    letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            border: 2px solid black ;
            background: Medium violet;
            box-shadow: 1px 1px 2px ;
            border-radius: 10px;
            padding: 3px 10px;
            cursor: pointer;
            color: white;
    
}
img {
    width: 300px;
}
button{
    width: 100px;
    background-color: red;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
p{
    color: white;
}